bower_components/jquery/*
!bower_components/jquery/dist
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js
bower_components/threejs/*
!bower_components/threejs/build
!bower_components/threejs/examples
bower_components/threejs/examples/*
!bower_components/threejs/examples/js
node_modules